* {
  font-family: "Oswald", serif;
  background-color: #eae3c9;
}

/* links*/

#logo {
  font-weight: 1000;
  font-size: 3rem;
  /*
  border: 2px solid black;
  display: inline;
  */
  text-align: center;
  padding: 0;
}
#back-button {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 20;
}

/*navigation*/
li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  list-style: none;
}

a {
  color: black;
}

/* images class main*/

.main-img {
  width: 25%;
  padding-left: 4%;
}

/*about me page*/

h1 {
  text-align: center;
}
h2 {
  padding-left: 4%;
}
p {
  padding-left: 4%;
}

/*single images for projects*/
.big-img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-imgs {
  width: 30rem;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  justify-content: center;
}

.project-section {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-left: 1.5rem;
}
